<!DOCTYPE html>
<html>
<head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>Карта-путеводитель по ВДНХ</title>
      <link href="{{ url_for('static', filename='css/style.css')}}" rel="stylesheet" type="text/css" />
      <link rel="icon" href="/static/images/school_logo.ico" type="image/x-icon">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap" rel="stylesheet">
      <script src="https://api-maps.yandex.ru/2.1/?apikey=04fcaae6-825a-469a-86fe-eabc5755edd4&lang=ru_RU" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
    <script src="/static/script/script.js" type="text/javascript" defer></script>
    <script src="/static/script/POI.js" type="text/javascript" defer></script>
    <script src="/static/script/provider.js" type="text/javascript" defer></script>
</head>
<body>
    <div class="win">
        <div class="main_menu">
            <div class="img_container" id="school_link">
                <a href="https://sch2098s.mskobr.ru/">
                    <img id="school_image" class="main_menu_images" src="/static/images/school_logo.png" alt="логотип школы">
                </a>
            </div>
            <div class="main_menu_elem"><h1>Карта-путеводитель по ВДНХ</h1></div>
            
            <div class="main_menu_elem" style="width:160px; height: 80px; vertical-align: middle">
                <p class="main_menu_elem_text" style="line-height: 80px; margin: auto; font-size: 28px; font-weight:500; cursor: pointer; text-align: center">Маршруты</p>
                <div class="sub_menu_routes">
                    <a id="static" class="sub_menu_links" href="#" style="font-size: 24px;">Статические</a>
                    <a id="time_routes" class="sub_menu_links" href="#" style="font-size: 24px;">По времени</a>
                    <a id="dynamic" class="sub_menu_links" href="#" style="font-size: 24px;">Динамика</a>
                </div>
            </div>
            <div class="main_menu_elem" style="width:160px; height: 80px; vertical-align: middle">
                <p class="main_menu_elem_text" style="line-height: 80px; margin: auto; font-size: 28px; font-weight:500; cursor: pointer; text-align: center">Карта</p>
                <div class="sub_menu_routes">
                    <a id="POI" class="sub_menu_links" href="#" style="font-size: 24px;">Точки POI</a>
                    <a id="type" class="sub_menu_links" href="#" style="font-size: 24px;">Спутник</a>
                    <a id="sub_menu_links" class="sub_menu_links" href="#" style="font-size: 24px;">Очистить<br>карту</a>
                </div>
            </div>
            <div class="main_menu_elem" style="width:160px; height: 80px; vertical-align: middle">
                <p class="main_menu_elem_text" style="line-height: 80px; margin: auto; font-size: 28px; font-weight:500; cursor: pointer; text-align: center">Избранное</p>
                <div class="sub_menu_routes">
                    <a id="favorites_btn" class="sub_menu_links" href="#" style="font-size: 24px;">Избранное</a>
                    <a id="history_btn" class="sub_menu_links" href="#" style="font-size: 24px;">История</a>
                </div>
            </div>
            <div id="container_login_btn" class="img_container" style="margin-left: 60px">
                <div class="small_pop_up">
                    <form class="login_reg_form">
                        {% if g.user %}
                            <p class="login_text">Привет, {{ g.user.login }}</p>
                            <button id="login_btn-btn" class="login_btn" type="button" style="visibility: hidden; display: none;">Войти</button>
                            <button id="reg_btn-btn" class="login_btn" type="button" style="visibility: hidden; display: none;">Регистрация</button>
                        {% else %}
                            <button id="login_btn-btn" class="login_btn" type="button">Войти</button>
                            <button id="reg_btn-btn" class="login_btn" type="button">Регистрация</button>
                        {% endif %}
                    </form>
                </div>
                <img id="login_btn-btn" class="main_menu_images" src="/static/images/user_logo.png" alt="вход в аккаунт" style="width:40px; margin-top: 20px; cursor: pointer">
            </div>
                <div id="container_btn_exit" class="img_container">
                    {% if g.user %}
                        <form class="exit_form" method="post">
                            <button class="exit_btn" type="submit"><img id="settings_btn" class="main_menu_images" src="/static/images/logout.png" alt="настройки" style="width:40px; cursor: pointer"></button>
                        </form>
                    {% else %}
                        <img id="settings_btn" class="main_menu_images" src="/static/images/logout.png" alt="настройки" style="width:40px; margin-top: 20px; cursor: pointer">
                    {% endif %}
                </div>
        </div>
        <div id="map"></div>
    </div>
    <div id="static_routes_win" class="static_routes_win">
        <div class="pop_up_body">
            <h1 class="pop_up_title">Статические маршруты</h1>
            <div class="pop_up_all_routes">
                <div id="pop_up_route" class="pop_up_route">
                    <div id="pop_up_about_block" class="pop_up_about_block">
                        <p id="about_route" class="about_route">Старт: Метро ВДНХ</p>
                        <p id="about_route" class="about_route">Финиш: Центральный вход</p>
                        <p id="about_route" class="about_route">Время: 10 мин</p>
                    </div>
                    <div class="pop_up_img_block">
                        <img src="/static/images/central_arc.jpg" alt="Изображение объекта" width=100% height="100%">
                    </div>
                </div>
                <div id="pop_up_route" class="pop_up_route">
                    <div id="pop_up_about_block" class="pop_up_about_block">
                        <p id="about_route" class="about_route">Старт: Центральный вход</p>
                        <p id="about_route" class="about_route">Финиш: Павильон №1</p>
                        <p id="about_route" class="about_route">Время: 10 мин</p>
                    </div>
                    <div class="pop_up_img_block">
                        <img src="/static/images/pav1.jpg" alt="Изображение объекта" width=100% height="100%">
                    </div>
                </div>
                <div id="pop_up_route" class="pop_up_route">
                    <div id="pop_up_about_block" class="pop_up_about_block">
                        <p id="about_route" class="about_route">Старт: Центральный вход</p>
                        <p id="about_route" class="about_route">Финиш: Солнце Москвы</p>
                        <p id="about_route" class="about_route">Время: 10 мин</p>
                    </div>
                    <div class="pop_up_img_block">
                        <img src="/static/images/moscow_sun.jpg" alt="Изображение объекта" width=100% height="100%">
                    </div>
                </div>
            </div>  
        </div>
    </div>

    <div id="dyn_routes_win" class="static_routes_win">
        <div class="pop_up_body">
            <h1 class="pop_up_title">Создать динамический маршрут</h1>
            <div class="pop_up_all_routes" style="height: 500px;">
                <div class="first_route_point">
                    <p class="new_point_route_text">Стартовая точка:</p>
                    <input id="new_point_route_input" class="new_point_route_input" type="text">
                    <img id="btn_add_images" class="btn_images" src="/static/images/plus.png" alt="добавить точку" style="cursor: pointer">
                    <img id="btn_del_images" class="btn_images" src="/static/images/delete.png" alt="удалить точку" style="cursor: pointer">
                </div>
                <div id="another_point_1" class="first_route_point" style="display: none;">
                    <p class="new_point_route_text">Промежуточная точка:</p>
                    <input id="new_point_route_input" class="new_point_route_input" type="text">
                </div>
                <div id="another_point_2" class="first_route_point" style="display: none;">
                    <p class="new_point_route_text">Промежуточная точка:</p>
                    <input id="new_point_route_input" class="new_point_route_input" type="text">
                </div>
                <div id="another_point_3" class="first_route_point" style="display: none;">
                    <p class="new_point_route_text">Промежуточная точка:</p>
                    <input id="new_point_route_input" class="new_point_route_input" type="text">
                </div>
                <div id="another_point_4" class="first_route_point" style="display: none;">
                    <p class="new_point_route_text">Промежуточная точка:</p>
                    <input id="new_point_route_input" class="new_point_route_input" type="text">
                </div>
                <div id="another_point" class="first_route_point" style="margin-bottom: 10px">
                    <p class="new_point_route_text">Финиш:</p>
                    <input id="new_point_route_input" class="new_point_route_input" type="text">
                </div>
            </div>
            <div class="btn_container">
                <div id="add_to_favorites" class="btn_add_route">
                    <img src="/static/images/favorites.png" alt="добавить в избранное" style="display: inline-block">
                    <p class="btn_text">Добавить в избранное</p>
                </div>
                <div id="btn_add_route" class="btn_add_route">
                    <img src="/static/images/route.png" alt="построить маршрут" style="display: inline-block">
                    <p class="btn_text">Построить маршрут</p>
                </div>
            </div>
        </div>
    </div>
    <div id="time_routes_win" class="static_routes_win">
        <div class="pop_up_body" style="width: 1300px; height: 700px;">
            <h1 class="pop_up_title">Маршрут с ограничением времени</h1>
            <div class="route_params" style="color: black;">
                <input id="time_route_input" class="new_point_route_input" style="height: 100%;" placeholder="Введите стартовую точку">
                <input id="time_input" type="time" class="time_input">
                <button id="search_routes_btn" class="search_routes_btn" type="button">Подобрать</button>
            </div>
            <div id="pop_up_time_routes" class="pop_up_all_routes" style="height: 400px; color: black;">
                <template id="time_route_temp">
                    <div id="pop_up_route" class="pop_up_route">
                        <div id="pop_up_about_block" class="pop_up_about_block" style="color: white;">
                            <p id="about_route" class="about_route">Старт: Центральный вход</p>
                            <p id="about_route" class="about_route">Финиш: Павильон №1</p>
                            <p id="about_route" class="about_route">Время: 10 мин</p>
                        </div>
                        <div id="pop_up_img_block" class="pop_up_img_block">
                            <img id="small_map" src="" alt="Изображение объекта" width=100% height="100%">
                        </div>
                    </div>
                </template>
            </div>
        </div>
    </div>
    <div id="reg_pop_up" class="static_routes_win">
        <div class="pop_up_body" style="width: 800px; height: 700px;">
            <h1 class="pop_up_title">Зарегистрируйтесь</h1>
            <form class="reg_form" method="post" style="margin-top: 50px;">
                <input id="login" class="forminput" type="text" name="login" placeholder="Придумайте логин">
                <input id="password" class="forminput" type="password" name="password" placeholder="Придумайте пароль">
                <input id="repeatpassword" class="forminput" type="password" name="repeatpassword" placeholder="Повторите пароль">
                <button id="reg_btn" class="reg_btn" type="submit">Зарегистрироваться</button>
            </form>
        </div>
    </div>
    <div id="login_pop_up" class="static_routes_win">
        <div class="pop_up_body" style="width: 800px; height: 700px;">
            <h1 class="pop_up_title">Вход в аккаунт</h1>
            <form class="reg_form" method="post" style="margin-top: 50px;">
                <input id="login" class="forminput" type="text" name="login_entry" placeholder="Введите логин">
                <input id="password" class="forminput" type="password" name="password_entry" placeholder="Введите пароль">
                <button id="login_btn" class="reg_btn" type="submit">Войти</button>
            </form>
        </div>
    </div>

    <div id="history_win" class="static_routes_win">
        <div class="pop_up_body">
            <h1 class="pop_up_title">История поиска</h1>
            {% if option %}
                <div class="pop_up_all_routes">
                    {% for elem in option %}
                        <div id="pop_up_route" class="pop_up_route">
                            <div id="pop_up_about_block" class="pop_up_about_block" style="width: 100%; height: fit-content;">
                                {% for rt1 in elem %}
                                    {% if rt1 == elem[0] %}
                                        <p id="about_route" class="about_route">Старт:  <u>{{ rt1 }}</u></p>
                                    {% elif rt1 ==elem[-1] %}
                                        <p id="about_route" class="about_route">Финиш:  <u>{{ rt1 }}</u></p>
                                    {% else %}
                                        <p id="about_route" class="about_route">Точка маршрута:  <u>{{ rt1 }}</u></p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
